[2021-01-14 03:12] a1ph opened #2 "Please add an example of how to use Rustls* based session"
There's no `new` method in the `session` module that accepts `ClusterRustlsConfig`. Thanks

[2021-01-14 14:54] krojew commented on #2
Looks like the original PR with rustls was incomplete. Please take a look at latest master with `new_*tls*` functions and verify if everything is ok.

[2021-01-29 19:58] fggarcia opened #3 "Add recreation of forgotten prepared statements"
is it possible to applied this fix to this crate @krojew  https://github.com/AlexPikalov/cdrs/pull/348

[2021-01-29 20:11] krojew commented on #3
Sure, will get on it sometime next week.

[2021-01-29 20:30] fggarcia commented on #3
Thanks you so much @krojew .

could you talk to @AlexPikalov to try to unify the two projects into one?

I think it would be a great option.

or reopen your PR over the crds async version

I'm using your version and it perfect to me.

https://github.com/AlexPikalov/cdrs/issues/356

[2021-01-31 16:48] krojew opened #5 "Upgrade lz4"
Lz4-compress needs to be switched to Lz4_flex or lz4-fear.

[2021-02-01 10:37] #3 closed

[2021-02-21 21:34] Jasperav opened #6 "Issue when using parallel tokio tasks with a shared arc"
This test below fails, but I think it should work fine. The original CDRS has exactly the same problem.

[code]

Error:

[code]

[2021-02-22 10:03] krojew commented on #6
Will take a look, but for now you can work around it by prepending keyspace to table names.

[2021-02-23 10:44] pkolaczk opened #7 "Cannot select Authenticator at runtime"
1. `Authenticator` trait requires `Self:Sized`, because it is `Clone`, so it is not possible to have `Box<dyn Authenticator>`
2. A concrete `Authenticator` impl type is tied to the `Session` type.

This means you can't abstract over authenticator in runtime, and e.g. initialize a Session from authentication config known only at runtime and then let all the other code use a single type of a Session

[2021-02-23 10:46] pkolaczk commented on #7
For a possible solution see this thread: https://users.rust-lang.org/t/why-cant-traits-require-clone/23686

[2021-02-26 16:28] #7 closed

[2021-03-21 09:44] maurocchi opened #8 "&str in NodeTcpConfig"
The `NodeTcpConfig` struct holds a `&str` instead of owning a String.
This forbid writing the following trivial code:
[code]

A workaround is to collect all the addresses and then create the nodes, but I'm wondering: what are the benefits of putting a string slice into a config struct?

[2021-03-21 10:12] krojew commented on #8
This is a part of the old sync cdrs, so not sure what the intention was - most likely the config was supposed to be created and immediately used. I will introduce owned data, but for now, you can first collect a vector of addresses as a workaround, so the string will not expire.

[2021-03-22 08:08] #8 closed

[2021-03-22 16:15] naamancurtis opened #9 "Bug? ExecPager isn't exported"
Hey,

I was trying to write some logic to issue a paged query using a prepared statement, however the type that `exec` returns - `ExecPager` isn't exported from `cdrs_tokio::cluster`. The struct is marked as public, however it doesn't appear to offer any interface to convert it into a type that I do have access to. My primary reason for wanting access to the type is so that I can return it as the

[2021-03-22 16:24] krojew commented on #9
You should be able to call `next()` on `ExecPager` to get the data. https://github.com/krojew/cdrs-tokio/blob/master/examples/paged_query.rs shows how to use paged queries, although it uses `QueryPager` with string queries.

[2021-03-22 17:21] naamancurtis commented on #9
Thanks for the quick response. Yep, that makes sense.

However I was hoping to abstract the query creation logic into a function that I can call that would return an `ExecPager`. eg:

[code]

But without ExecPager I'm not able to type the return type of the function? unless there's a trait I can use in it's place?

As an aside (apologies for hijacking the issue) I notice there's no way of providin

[2021-03-22 17:55] #2 closed

[2021-03-22 21:15] Jasperav opened #10 "no `mstcpip` in `shared`"
When I try to run any test, I get this error message:

[code]

I am running Windows 10. I had no problem running https://github.com/AlexPikalov/cdrs. Do you know why this error occurs?

[2021-03-23 06:50] krojew commented on #10
Seems like you ran into a problem with mio: https://github.com/tokio-rs/mio/commit/a7e61db9e3c2b929ef1a33532bfcc22045d163ce

It's fixed in 0.7.11 and works in 0.7.9.

[2021-03-23 06:50] #10 closed

[2021-03-23 07:30] #9 closed

[2021-03-23 15:41] Jasperav commented on #10
Thanks @krojew, cargo update worked

[2021-03-25 13:35] Jasperav opened #12 "Add cargo fmt and clippy checks into CI"
Something like this in CI would be useful to add for code quality:

    - name: Format check
      run: cargo fmt --verbose --all -- --check
    - name: Clippy check
      run: cargo clippy --verbose --examples --tests -- -D warnings

[2021-03-25 14:56] #12 closed

[2021-03-25 15:05] Jasperav commented on #12
@krojew I think it's better to make the master branch protected, this will ensure the CI never fails on master (because only branches with green CI can be merged).

The new lint job is also a bit overkill: now the project is checked out twice and build twice. The arguments can be put below the test, like so: https://github.com/scylladb/scylla-rust-driver/blob/2a7295b466211972d1ebea4dbfff7af2c99359

[2021-03-25 15:06] krojew commented on #12
True, they can be executed serially.

[2021-03-31 16:08] Jasperav commented on #6
@krojew This didn't fix the problem. The test below fails:

`#[cfg(feature = "e2e-tests")]
use cdrs_tokio::cluster::{NodeTcpConfigBuilder, ClusterTcpConfig};
#[cfg(feature = "e2e-tests")]
use std::sync::Arc;
#[cfg(feature = "e2e-tests")]
use cdrs_tokio::load_balancing::RoundRobin;
#[cfg(feature = "e2e-tests")]
use cdrs_tokio::authenticators::NoneAuthenticator;
use cdrs_tokio::query::QueryExecutor;

[2021-04-02 07:43] a1ph opened #21 "send_frame locks up on sending large frames >0x20000"
Hi there,

I've switched to using cdrs-tokio from cdrs few days ago and started noticing some app lock ups. That usually happens when a large frame is being sent. Similar to issue fixed in #4 but on a larger threshold. It now happens when sending frames > ~0x20000 bytes.

Sorry, cannot provide a test case. I'll try to track it down.

Cheers,
-alph

[2021-04-02 13:14] krojew commented on #21
I can't see anything in tokio related to this, unfortunately. Can you pause the process in the debugger when it's hanging and see what it's doing?

[2021-04-02 19:25] a1ph commented on #21
I have a fix. Let me get it approved for upstream and I'll submit a PR.

[2021-04-03 08:55] Jasperav commented on #6
@krojew Can you please re-open this issue? I don't have the option. Do you know why this issue occurs?

[2021-04-07 13:26] #6 closed

[2021-04-07 13:31] Jasperav commented on #6
Thanks for the fix @krojew

[2021-04-07 13:32] krojew commented on #21
If you can't create a PR, please share a description of the fix, so I can implement it.

[2021-04-07 20:05] a1ph commented on #21
No worries, just got an approval. Sending it out...

[2021-04-08 06:08] #21 closed

[2021-05-11 19:18] JoshRagem opened #25 "provide Authenticators with authentication ResponseBody"
for aws keyspaces, the authentication challenge includes a `nonce` key that is required for signing the auth token (when using aws credentials for cassandra/keyspaces access)

I think the most straightforward way to do this is to pass the auth challenge response body into `Authenticator.auth_token()` -- you can see from [the aws sigv4 java plugin](https://github.com/aws/aws-sigv4-auth-cassandra-ja

[2021-05-12 18:12] krojew commented on #25
I've added a new SaslAuthenticator, which should enable you to implement aws workflow. I don't use aws keyspaces, so I cannot test it. Can you take a look at master?

[2021-05-17 19:22] krojew commented on #25
@JoshRagem any chance you can test the changes?

[2021-05-17 20:15] JoshRagem commented on #25
Yes I will try that tomorrow

[2021-05-18 19:29] JoshRagem commented on #25
@krojew i'm having trouble getting awsv4 signing to work, but the sasl authenticator changes _look_ correct, once I succeed with the signing I can give a better report

[2021-05-19 06:00] krojew commented on #25
I added explicit data flush when authenticating, in case there are problems with TLS. If you're having problems with not sending all of the data, this might help.

[2021-06-16 20:40] krojew commented on #25
@JoshRagem any news?

[2021-06-25 13:58] #5 closed

[2021-08-26 13:36] krojew opened #27 "Don't use Cursor for reading primitives"
Migrate all `try_from_bytes` in `types` to `X::from_be_bytes()`.

[2021-08-26 13:36] krojew opened #28 "Speculative execution"
Add speculative execution policies: https://docs.datastax.com/en/developer/java-driver/4.13/manual/core/speculative_execution/

[2021-08-27 17:19] krojew opened #29 "Create session builder"
A builder will be more useful than a ton of creation functions.

[2021-08-30 08:42] krojew opened #30 "Substitute log for tracing"

[2021-08-30 17:15] #27 closed

[2021-08-31 05:01] krojew opened #31 "Add new dynamic cluster handling"

[2021-08-31 05:06] krojew opened #32 "Rework event handling"
Instead of additional connection with an iterator, provide a broadcast channel.

[2021-08-31 17:50] #30 closed

[2021-08-31 21:28] #25 closed

[2021-09-01 14:04] #29 closed

[2021-10-05 14:55] conorbros commented on #31
Could you elaborate on this?

[2021-10-05 14:58] krojew commented on #31
Available node list should be dynamically updated from server events.

[2021-10-05 15:00] conorbros commented on #31
I am currently working on a PR for that :)

[2021-10-05 15:02] conorbros opened #33 "Add token and data center aware load balancing"

[2021-10-05 15:03] krojew commented on #31
I was planning to rework event handling for that to work first in #32 . Current iterator-based approach works very poorly with async/await.

[2021-10-05 15:09] conorbros commented on #31
Would you be able to give more implementation details? I can look at completing that before I submit my PR if required.

[2021-10-05 15:19] krojew commented on #31
At the moment, no work has been started on this topic, but I'm thinking of replacing whole existing implementation with automatically managing a dedicated extra connection for receiving events, and publishing them via `tokio::sync::broadcast`.

[2021-10-05 15:24] conorbros commented on #31
At the moment I have the connections stored in an `ArcSwap` so they can be updated, it is similar to the [Scylla driver](https://github.com/scylladb/scylla-rust-driver).

[2021-10-05 15:55] krojew commented on #31
Ok, we can try to merge that first and rework the event system later.

[2021-10-08 08:57] krojew commented on #31
I managed to find time to rework event handling and add cluster metadata handling skeleton. You can take a look at ClusterMetadataManager which should manage contained cluster metadata, which is then passed to load balancers.

[2021-10-20 06:28] krojew opened #35 "Add a load balancing strategy wrapper"
Since we don't have async traits and the Session is generic, we need to provide a wrapper over an arbitrary inner LB.

[2021-10-23 07:16] krojew opened #36 "Update chrono and time deps"
https://rustsec.org/advisories/RUSTSEC-2020-0071
https://rustsec.org/advisories/RUSTSEC-2020-0159

[2021-11-15 05:30] rukai opened #40 "Scope of protocol functionality"
It seems this projects fork predates [cassandra-proto](https://github.com/AlexPikalov/cassandra-proto)

I am in need of a cassandra protocol crate that can support response encoding and query decoding for the purposes of implementing a proxy.
Would that be out of scope of cdrs-tokio's protocol functionality?
Would you be interested in pulling cdrs-tokio's protocol functionality into a cassandra-pr

[2021-11-15 06:30] krojew commented on #40
It might be a good idea to extract protocol handling from `cdrs-tokio` into a separate crate. If you wish, you can base on this crate, since it contains multiple protocol improvements over the original cdrs protocol handling, as a subcrate.

[2021-11-15 06:36] rukai commented on #40
When you say "as a subcrate" do you mean within the cdrs-tokio repo or for me to make a separate repo for it?

[2021-11-15 06:37] krojew commented on #40
I think it's better to keep everything under the same repository - it's easier to work with and update dependencies.

[2021-11-15 06:38] rukai commented on #40
Ok sounds good to me!
I'll have some PRs for that soon.

[2021-11-15 06:38] krojew commented on #40
Great, thanks!

[2021-11-15 06:40] krojew commented on #40
Although naming will be a bit awkward - if there's no dependency on `tokio`, it should be a generic name, yet `cassandra-proto` is already taken. Maybe simply `cassandra-protocol`?

[2021-11-15 06:43] rukai commented on #40
hahaha I had just set that name moments ago
![image](https://user-images.githubusercontent.com/5120858/141734440-03a2b775-6a5d-44c9-973a-7c97d9a3ff3a.png)
:+1:

[2021-11-17 07:43] #40 closed

[2021-11-19 06:28] rukai opened #46 "Comparison to scylla-rust-driver"
I recently came across https://github.com/scylladb/scylla-rust-driver
And also saw https://www.reddit.com/r/rust/comments/pfuwhf/help_wanted_cdrstokio_road_to_performance_and/
So it seems you have seen scylla-rust-driver and that spurred a lot of the cleanup of cdrs's performance mistakes.

After evaluating the performance of scylla-rust-driver it still seems to considerably outperform master cdrs

[2021-11-19 06:51] krojew commented on #46
`cdrs-tokio` is aimed to be a rust equivalent to high-level java drivers. The goal is to make it as configurable as possible, which will suit both personal and enterprise projects. `scylla-rust-driver` seems to be a simpler alternative, which may be appropriate for some projects, but lack features for other.

Out of curiosity - do you know which parts are slower? Since the new version is not publi

[2021-11-19 07:25] rukai commented on #46
Alright, that makes sense.

We modified the benchmark they used to run against cdrs-tokio master https://github.com/conorbros/rust-driver-benchmarks
We havent done a deep-dive into what is causing the difference in performance though.

[2021-11-19 07:27] conorbros commented on #46
and tested against Cassandra instead of ScyllaDB

[2021-11-19 07:39] krojew commented on #46
Interesting - such stable numbers could indicate there's a lock somewhere blocking high concurrency. I thought I got rid of those while removing bb8.

[2021-11-19 14:23] krojew commented on #46
I will try to address some performance issues next week.

[2021-11-19 23:01] rukai commented on #46
After looking at their protocol implementation I realised they use lifetimes in their protocol types to avoid a lot of allocations. This probably is the source of a lot of their speedups but lifetimes also probably mean we can't use the protocol for our project

[2021-11-22 21:54] Jasperav commented on #46
@rukai why can't you use lifetimes in your project? That doesn't make sense to me. You can query with `String` in the `scylla-rust-driver`. What are you missing?

[2021-11-22 23:27] rukai commented on #46
we need to pass the parsed protocol data across threads, afaik this is impossible if the types contain lifetimes.

[2021-11-23 07:53] Jasperav commented on #46
@rukai I am sure that if you have a non-compiling example code for the `scylla-rust-driver`, we can make it work

[2021-11-23 08:08] rukai commented on #46
I believe this is a fundamental part of how rust works.
Consider this example which doesnt and shouldnt compile:
[code]

An example of a scylla type that has lifetimes that I want to send across threads is https://docs.rs/scylla/0.3.1/scylla/frame/request/query/struct.Query.html

However...
Now that i'm thinking about this again, its possible this is actually a non-issue due to the cassandra-proto

[2021-11-23 08:51] Jasperav commented on #46
@rukai Ah, ok now I understand what you mean. An easy workaround would be introducing owned values for `Query` and `QueryParameters`.

[2021-11-23 17:09] krojew commented on #46
I managed to get cdrs about 2x faster in that benchmark than the scylla driver. I'll push some improvements after I iron out the API.

[2021-11-25 08:59] rukai opened #60 "Release 6.0.0-beta.4"
We have now upstreamed all our changes and would appreciate a 6.0.0-beta.4 release.
There is still a lot more cassandra-protocol improvements to be made before a proper 6.0.0 release though.

[2021-11-25 09:17] krojew commented on #60
Done!

[2021-11-25 09:17] #60 closed

[2021-11-25 09:34] rukai commented on #60
https://crates.io/crates/cassandra-protocol hmmmm, hasnt shown up yet.

[2021-11-25 09:37] krojew commented on #60
cargo, for some reason, didn't publish `cassandra-protocol`. It should be there now.

[2021-11-25 09:38] krojew commented on #60
Interesting, seems like nothing got published.

[2021-12-02 11:45] #28 closed

[2021-12-03 12:06] krojew commented on #46
I've published some performance benchmarks in README. CDRS seems to be now one of the fastest options, depending on configuration.

[2021-12-03 13:22] enedil commented on #46
Hey @krojew, would you mind sharing exact setup you used for making the benchmarks, with machine configurations, cluster setup, and code used for the benchmarks?

I'm asking because on the Scylla Rust driver benchmarks, it can be seen that there is a big variance of results between different drivers (even taking aside Scylla Rust driver and CDRS), while yours are all-in-all rather similar (the rat

[2021-12-03 13:59] krojew commented on #46
@enedil I'm running the linked benchmark suite (https://github.com/conorbros/rust-driver-benchmarks) against a single cassandra node (latest image) on Ubuntu 21.10 with i9-7980xe with 32gb ram. The test code is exactly the same with the exception of additional CDRS test having a bigger connection pool (36 vs 1).

[2021-12-03 14:33] enedil commented on #46
In our benchmarks we had three-node cluster (on AWS), with driver application working on a separate machine, with communication over LAN. One node is really uncommon, given that both Scylla and Cassandra excel at horizontal scaling. Moreover, since you admitted that you tweaked the parameters, I think that it would be good to also modify the connection pool for the scylla rust driver to 36.
The se

[2021-12-03 14:45] krojew commented on #46
Sure, will add such test next week. Unfortunately, I don't have access to multi-node clusters to test such configurations - if you have access to one, I would be grateful for some data.

[2021-12-07 10:35] enedil commented on #46
Since a lot of work is going on with Scylla Rust Driver, we're not ready to make the benchmarks yet. However, when the time comes, we're test crds-tokio up to a test too.

[2021-12-09 00:35] rukai opened #69 "Why is stream_id moved out of Frame?"
Looking at the cassandra protocol spec and our current usage of frame.stream it makes a lot of sense for stream_id to be in Frame.
What was the reasoning behind moving it out of Frame?

[2021-12-09 06:28] krojew commented on #69
The problem with having a stream id in a frame was that it's ignored for any writes, since the id needs to be generated at the moment of sending a frame (per connection), rather than constructing one. To be honest, this makes it hard to place - on one hand it is a part of a frame; on the other, it's totally ignored. From the point of view of your use cases, what is the best approach? Should we kee

[2021-12-09 06:33] krojew commented on #69
Come to think of it - since it is a part of the protocol spec, this should be brought back into the frame. Any high-level interface needs to deal with the problem of generating ids.

[2021-12-09 06:51] krojew commented on #69
I moved the stream back - let me know if you find some other inconsistencies, form the protocol point of view.

[2021-12-09 06:52] rukai commented on #69
Thanks, will do!

[2021-12-13 20:04] krojew commented on #69
Is everything fine now, can this be closed? I think, given the lack of issues, it's time for a stable release soon.

[2021-12-13 22:23] #69 closed

[2021-12-22 08:19] conorbros opened #71 "Link to SSL session is broken"
The link to SSL session in this section: https://github.com/krojew/cdrs-tokio/tree/master/documentation

Is broken and leads to https://github.com/krojew/cdrs-tokio/blob/master/documentation/cdrs-session.md

[2021-12-22 19:12] #71 closed

[2022-02-22 11:27] npatsakula opened #84 "Prepared statements bug."
Hello there!

Prepared statement creating only in single node scope. With [fixed](https://github.com/krojew/cdrs-tokio/pull/83) nodes observablilty and enabled load balancing it become cause of query error:

[code]

[2022-02-22 11:50] krojew commented on #84
Can you enable debug logging by setting env: RUST_LOG=debug and send the output? This error should be handled and the query re-prepared.

[2022-02-22 13:21] npatsakula commented on #84
Sort of. I can't send you logs as is (production logs under NDA and I don't have enough time for MRE), but log types is:
[code]

[2022-02-22 13:49] krojew commented on #84
There is no "Re-preparing statement." debug log?

[2022-02-22 13:50] npatsakula commented on #84
Nope:(

[2022-02-22 13:52] krojew commented on #84
Can you share limited code where you make a query and it fails?

[2022-02-22 14:05] npatsakula commented on #84
Something like this:
[code]

[2022-02-23 16:13] krojew commented on #84
Any luck capturing that debug dump of the error?

[2022-03-03 14:56] npatsakula commented on #84
Sorry, now I don't have time for this:( I can get back to work on it on next week.

[2022-03-03 14:57] krojew commented on #84
No problem.

[2022-04-23 13:20] conorbros commented on #36
Looks like this has been fixed?

[2022-04-25 04:48] krojew commented on #36
@conorbros not yet.

[2022-05-03 20:31] a1ph opened #91 "Error: List should not be empty"
Hi team,

I'd like to raise this question again. It has been asked a while ago https://github.com/AlexPikalov/cdrs/issues/282 but I think it deserves better handling.

The question is basically about allowing container fields like `Vec<T>` in the structs that make use of `TryFromUdt` or `TryFromRow`. Currently, if a table contains an empty list, `try_from_udt` (`try_from_row`) will fail with the e

[2022-05-04 04:52] krojew commented on #91
As far as I know, empty collections are represented as NULL on the protocol level. But, it shouldn't be a problem to handle situations where an empty collection is returned anyway and simply map it to an empty container. If you have a fix ready, I'll be happy to merge it.

[2022-05-04 05:23] a1ph opened #92 "ExponentialReconnectionPolicy panics after several attempts"
[code]

[2022-05-04 05:46] a1ph commented on #91
Right, so basically an empty collection and null are indistinguishable. So If I want to get `None` for an empty collection, I'd declare it as `Option<Vec<T>>`. If I don't want it to be a special case, and my app just needs to see an empty Vec, then I'd like to use just `Vec<T>`, but the latter case does not currently work.

Thanks for your feedback. I'll prepare a PR later this week.

[2022-05-04 06:06] krojew commented on #91
Yes, Cassandra treats empty collections and NULL as equivalent, so wrapping collections in an `Option` might be redundant and actually hard to implement correctly.

[2022-05-04 15:49] #92 closed

[2022-05-04 16:41] a1ph commented on #92
Thanks

[2022-06-15 18:14] krojew opened #96 "Protocol v5 tests"
After introducing protocol v5, we need extensive end-to-end tests on a v5 cluster. Ideally, also regressions checks with v4.

Such tests include running all types of queries with and without compression (everything from section 4 of https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v5.spec), listening to events, using high-level Rust-to-UDT (de)serialization, using different authe

[2022-06-22 04:57] krojew commented on #36
Seems to be fixed upstream. Waiting for next release: https://github.com/chronotope/chrono/issues/674

[2022-06-28 15:17] krojew commented on #96
@conorbros have you had a chance to check out the latest master?

[2022-07-05 02:25] conorbros commented on #96
@krojew I intend on looking into it this week.

[2022-07-08 14:31] cibingeorge commented on #84
I ran into similar issues. Looks like the ServerError gets converted to general error somewhere.  Let me see if i can find out why.
[code]

[2022-07-09 11:18] cibingeorge commented on #84
I was testing on the sha just before the protocol v5 implementation.

The issue in my case is caused by https://github.com/krojew/cdrs-tokio/blob/e1de5ffc30cf0e2cc13a657835f916fd4e61bf99/cdrs-tokio/src/transport.rs#L298 which converts server error into a general error. So the reprepare doesnt happen.

I am not sure why the error here need to be converted to general error. I patched up to not conve

[2022-07-09 12:06] krojew commented on #84
Thanks for debugging the issue! You are right - there's no point in converting the error. I'll add a fix next Monday.

[2022-07-10 12:47] cibingeorge commented on #84
I found another bug in reprepare. The reprepare runs on the node which is different from the original node which errored out. So reprepare works but the subsequent query fails with the same error. I added some extra logging in the code to trace the ip where the request is made.

[code]

[2022-07-12 04:49] conorbros opened #99 "Bug in transport.rs"
I think I've found a bug in transport.rs. Had some trouble finding a fix, perhaps @krojew will fare better since you wrote the code. Here's a repo with everything needed: https://github.com/conorbros/cdrs-bug-report

In the logs you can see that the "receiving on an empty channel" error occurs frequently and then the driver sends some garbage bytes that aren't a valid frame: `[0, 0, 2, 6a, 36, c4,

[2022-07-12 05:24] #84 closed

[2022-07-12 05:57] krojew commented on #99
The `receiving on an empty channel` error is normal - it means we have no queued envelopes, which we can immediately aggregate in a frame. The strange bytes seem to be uncompressed header + trailer without an actual frame. Will investigate.

[2022-07-12 05:58] krojew commented on #99
Note: empty frames, while don't make sense, are still valid (you can see payload length 0), so you should still support them.

[2022-07-12 06:09] #99 closed

[2022-07-25 03:43] #91 closed

[2022-07-25 14:05] DevNulPavel opened #100 "Keyspace setup falls Transport to infinite loop"
Hello :-)

I tried to use `TcpSessionBuilder` with `.with_keyspace`, but received high CPU and network usage.

When i started digging i found that `start_reading` and `start_writing` methods are in infinite loop.

It looks like because in `start_reading` method cassandra always return response with `SetKeyspace` result:
[code]

When i removed `.with_keyspace` everything worked good.

[2022-07-26 04:41] #100 closed

[2022-07-26 06:30] DevNulPavel commented on #100
Thanks a lot))

[2022-08-05 07:40] #36 closed

[2022-08-08 13:45] DevNulPavel commented on #84
Hello :-)

I'm using `cdrs-tokio = "^6.2"`, but still receiving error:

`Prepared query with ID 37ef1cdb7c0142dc94ca37812bae409e not found (either the query was not prepared on this host (maybe the host has been restarted?) or you have prepared too many queries and it has been evicted from the internal cache)`

It looks like problem still exists.

[2022-08-08 13:54] krojew commented on #84
Sorry, I've been focused on the next version with protocol v5. Since beta 1 is out, I can backport some fixes now.

[2022-08-08 16:16] krojew commented on #84
@DevNulPavel unfortunately, this fix needs some `cassandra-protocol` crate in version 2.0, so can't be backported to `cdrs-tokio` 6. The changes made by Cassandra when introducing v5 make this difficult to port without introducing artificial major version updates.

[2022-08-08 16:27] DevNulPavel commented on #84
@krojew Thank you for answer 👍😊

[2022-08-09 06:04] rukai opened #102 "schema change event is never received"
Consider the following code:
[code]

 Before https://github.com/krojew/cdrs-tokio/commit/bc021f4ee93c87bef922f5bf6cbac7b9780c10f6 `event_recv.recv()` would complete, with that commit it now times out

[2022-08-09 06:21] krojew commented on #102
`CREATE KEYSPACE` doesn't change the current schema, so the event should not fire. I'm curious why the event was send before that commit.

[2022-08-09 06:26] rukai commented on #102
ah! well thats reasonable then.
We should just not rely on that incorrect behaviour.

I'll go ahead and close the issue.

[2022-08-09 06:28] krojew commented on #102
Hold on - my mistake. The change refers to DDL, not current schema, so there should be an event present.

[2022-08-09 06:34] rukai commented on #102
Oh, I'm getting these error logs from cdrs-tokio that were not present before that commit:
[code]

[2022-08-09 06:40] krojew commented on #102
That explains why the events are not delivered - the control connection is down, because `system.peers_v2` doesn't exist. CDRS should switch to using `system.peers`, but it fails for some reason. Probably there's an execution path in `ClusterMetadataManager` where that doesn't happen. Will investigate.

[2022-08-14 12:05] vaikzs commented on #102
@krojew any updates on this? I'm facing the same with non-event TCP session using RoundRobin

[2022-08-14 12:13] krojew commented on #102
@vaikzs I think there should be a fix next week.

[2022-08-16 05:22] krojew commented on #102
What exact version of Cassandra are you using? Everything seems to work fine with my cluster.

[2022-08-16 06:08] rukai commented on #102
cassandra 3.11
Specifcally we are using this docker-compose.yaml https://github.com/shotover/shotover-proxy/blob/441316bdecda8e2530c0333c01012a6dcdd153f9/shotover-proxy/example-configs/cassandra-passthrough/docker-compose.yml

[2022-08-16 09:47] #102 closed

[2022-08-16 09:47] krojew commented on #102
@rukai @vaikzs can you confirm everything works on latest master? If so, I will publish the next beta version.

[2022-08-16 12:43] rukai commented on #102
That fixes it!
Interestingly I'm still getting the same failure when run through shotover instead of directly against cassandra.
But thats my bug to investigate.

Thanks for fixing this!

[2022-08-16 12:46] krojew commented on #102
You might be having a race condition somewhere.

[2022-08-16 15:05] vaikzs commented on #102
@krojew

I'm still getting this issue even with master branch, @rukai where did you update the sleep setting?
Cargo.toml
[code]

[code]

[2022-08-16 15:06] krojew commented on #102
@vaikzs can you show your test code?

[2022-08-16 15:12] vaikzs commented on #102
@krojew
[code]
Meanwhile, I'm trying to clear my build cache to see if that is the issue

[2022-08-16 15:14] krojew commented on #102
@vaikzs I think you cut out the actual test part of the code.

[2022-08-16 15:20] vaikzs commented on #102
@krojew my bad sorry. Updating with query, does that work?

[2022-08-16 15:22] krojew commented on #102
@vaikzs you don't seem to be checking for schema change events. How do you know they're not working?

[2022-08-16 15:25] vaikzs commented on #102
I dont have the event receiver in my case.
Is it needed to perform a normal select query. Sorry if Im missing something.

[2022-08-16 15:27] krojew commented on #102
@vaikzs ok, so what exactly is not working in your case? This issue was about missing events.

[2022-08-16 15:35] vaikzs commented on #102
@krojew Just to be clear I'm getting these `Transport errors 8704` in my logs constantly, but functionally everything seems fine and I'm able to perform queries. I'm not subscribing to events like @rukai but problem seemed similar. That being said, I can create another issue to discuss it further.

[2022-08-16 15:46] krojew commented on #102
@vaikzs this is normal - the control connection is unable to query the peers_v2 table, so it falls back to the legacy one. Maybe the log could be turned into a warning, but everything is ok.

[2022-08-16 16:08] vaikzs commented on #102
Cool. Thank you @krojew for the help and support. I'm proceeding with 6.2.0.

[2022-09-14 08:01] #96 closed

[2022-09-21 10:37] krojew opened #111 "Add support for HTTP proxy"

[2022-09-22 15:57] devrandom opened #112 "error UnexpectedWriteType("CAS")) with multiple tokio tasks"
I am getting error `UnexpectedWriteType("CAS"))` when doing batch inserts from multiple tasks in the same `Session` object.

It fails intermittently on a three node cluster with Cassandra version `[cqlsh 6.0.0 | Cassandra 4.0.5 | CQL spec 3.4.5 | Native protocol v5]`.  It works consistently with a single task.

On a local Cassandra instance in docker, it work consistently with multiple tasks - ver

[2022-09-22 15:59] krojew commented on #112
Can you check with protocol v4?

[2022-09-22 16:00] devrandom commented on #112
Do you mean downgrade to an old Cassandra?  or is there a way to make it fall back to the older protocol?

[2022-09-22 16:01] krojew commented on #112
You can specify the protocol version when building connection configuration: https://docs.rs/cdrs-tokio/7.0.0/cdrs_tokio/cluster/struct.NodeTcpConfigBuilder.html#method.with_version

[2022-09-22 17:40] devrandom commented on #112
It happens with V3, V4 and V5.  Less often in the older versions.

[2022-09-22 19:09] devrandom commented on #112
Also, wanted to mention that this is an LWT batch.  The code in question is here: https://gitlab.com/lightning-signer/validating-lightning-signer/-/merge_requests/312/diffs#144ee5d06667bb53830287a66cd0bda0b514e40c_0_319 (look for `async fn put` if I push again and invalidate the line locator)

[2022-09-23 10:09] devrandom commented on #112
The scylla driver gives me a more detailed error:  `Scylla(QueryError(DbError(WriteTimeout { consistency: Serial(LocalSerial), received: 1, required: 2, write_type: Cas }, "Operation timed out - received only 1 responses.")))'`

So cdrs is probably getting confused by the `write_type` on this error.

Well, I'm confused by this error myself...

[2022-09-23 10:12] krojew commented on #112
If you're getting it on a two different drivers, it means a problem in your cluster.

[2022-09-23 10:47] devrandom commented on #112
agreed.  however, the cdrs driver does eat part of the error - would be good to fix.

[2022-09-23 10:54] krojew commented on #112
Sure, I'll take a look.

[2022-09-23 17:41] braje opened #113 "Trouble with dropped connections on Session"
Hello.  I am not sure if this is a bug or user error.  When I am running my test suite against a database, I have noticed that at least a couple of the tests fairly consistently fail with an error:  "Connection closed while waiting for response".  I have tried to run the tests in single threaded mode, I have tried adding connections to the connection pool, but nothing seems to work.  The number of

[2022-09-23 18:13] krojew commented on #113
Connections should be brought up according to reconnection policy, so this shouldn't be a problem. The error message suggests something closed the connection while waiting for a response after sending a request. The "Unknown exception in client networking" error suggests something cluster-side. Do you have any more cluster logs?

[2022-09-23 18:42] braje commented on #113
Strangely enough, I am doing runs of the tests now and nothing is showing up in the logs, even though I am getting the same errors.  I am running cassandra from within a container, so I wonder if that is causing me grief. I will get back to you.  Thank you for the information!

[2022-09-23 18:58] Matansegal opened #114 "increase in size for a byte array"
I am trying to insert a compress string of size ~5Mb after compression as a byte array (Blob). when insert the actual size of the row is 23Mb which pass the database hard limit (16Mb).

I check the size of the array right before I send it to the driver. There could be an increase of size during the drive processing the data?

Thank you.

[2022-09-23 19:00] krojew commented on #114
Do you happen to have a simple test case? Which compression are you using?

[2022-09-23 19:01] Matansegal commented on #114
I have a service in rust which received the compressed data from a python code. I use lz4. I was able to insert the same exact data using python driver.

[2022-09-24 18:09] krojew commented on #112
This turns out to be a braking change and will be included in the next major version.

- Add remaining options from https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v5.spec#L1289
- Remove `Copy` from `WriteType`
- Add `UnknownWriteType(String)` variant
- Add non_exhaustive

[2022-09-27 07:38] krojew commented on #114
Can you share your code how you insert the data (with the types used)?

[2022-09-27 13:48] Matansegal commented on #114
I cannot share my code since it for my company.
I use type of `blob` in the Cassandra table type of blob.
In the code I insert it as `Vec<u8>`

[2022-09-30 05:01] krojew commented on #114
Thanks for the code snippet - now it's clear why it's failing. Cassandra contains the list type which is represented by `Vec` in Rust. When you pass a `Vec<u8>` as a query value, you are creating a list of u8 values, not a blob of binary data. You should either use the `Blob` type from the crate, or implement `Into<Bytes>` for the type you wish to pass as a query value.

Can you confirm it works b

[2022-09-30 06:27] krojew commented on #114
Also, please update to the latest patch release due to a bug in compressing large envelopes.

[2022-09-30 18:21] Matansegal commented on #114
Thank you for the clarification.

when I do:
[code]

it stack, doesn't panic but also doesn't return back, looks like infinite loop.

For the other option, how can I implementing `into<Bytes>` if it is private and not in the same trait as Bytes?

[2022-09-30 18:24] krojew commented on #114
Are you sure you're using the patched version from today? It fixed some problems with compressed messages. As for `Bytes` - it's public: https://docs.rs/cdrs-tokio/latest/cdrs_tokio/types/value/struct.Bytes.html

[2022-09-30 20:38] Matansegal commented on #114
Sorry I didn't realized it is pub.
So, I tried `Bytes::new(self.loan_records.inner().to_vec()),` still stack.
Since I update to 7.0.1 it doesn't work - it gets into a infinite loop and doesn't return at all.
The problem is not in the db since I can contact it with python driver.
Any thoughts?

[2022-10-01 04:55] krojew commented on #114
The tests at https://github.com/krojew/cdrs-tokio/blob/master/cdrs-tokio/tests/compression.rs send 5MB blob to the db and read it back, with compression. Therefore it generally works, so something is specific in your case, but it's hard to tell what without details. Let's try to dig deeper.

1. How do you know it's an infinite loop?
2. Can you run these tests with your db configuration and see if

[2022-10-03 21:48] Matansegal commented on #114
apparently 7.0.1 broke my code, when I used 7.0.0 it worked. Any thoughts?
Using `Blob::from(self.blob.inner())` worked. Thank you  so much!

[2022-10-04 07:10] krojew commented on #114
Can you run those linked tests with your db setup on 7.0.1?

[2022-10-06 07:04] #112 closed

[2022-10-06 07:05] krojew opened #117 "Add non exhaustive to proto enums"
We should add non exhaustive to enums which are likely to change upstream.

[2022-10-06 15:10] Matansegal commented on #114
Please let me know how I should run library built in test

[2022-10-06 15:12] krojew commented on #114
1. Run your cluster in the configuration you're having problems with.
2. Edit `compression.rs` and change cluster settings to the ones you're having problems with.
3. Run `cargo test --test compression encode_decode_test_v4 --no-fail-fast --all-features -- --test-threads=1` and `cargo test --test compression encode_decode_test_v5 --no-fail-fast --all-features -- --test-threads=1`.

[2022-10-06 17:59] Matansegal commented on #114
I tried it, and I don't get response as before.

[2022-10-06 18:01] krojew commented on #114
That's good - that confirms something is specific with your cluster configuration. Can you paste your changes to `compression.rs` and how you run your cluster?

[2022-10-06 18:05] Matansegal commented on #114
I just changed the session creation. Unfortunately, I cannot paste it here.

it is something like that:
[code]

[2022-10-06 18:07] krojew commented on #114
What kind of authenticator are you using? Maybe the cluster is stuck on authentication.

[2022-10-06 18:13] Matansegal commented on #114
[code]

[2022-10-06 18:14] krojew commented on #114
Can you disable authentication and try again without an authenticator?

[2022-10-06 18:16] Matansegal commented on #114
I have to provide one

[2022-10-09 16:42] krojew commented on #114
Just tested with an static password authentication and everything works. I ran the cluster with:

[code]

The only changes to `compression.rs` tests are:

[code]

Therefore something is probably wrong with your cluster. Unless you can provide more details, e.g. how do you know it's in infinite loop or the cluster configuration, I cannot provide a solution.

[2022-10-09 19:30] braje commented on #113
I can't get any more log information, so I will just go ahead and close for now.  Thanks for looking at ti.

[2022-10-09 19:30] #113 closed

[2022-10-11 08:45] braje commented on #113
I do not.  Can't get any interesting logs.  May as well close .

On Thu, Oct 6, 2022, 03:07 Kamil Rojewski ***@***.***> wrote:

[2022-10-11 21:54] Matansegal commented on #114
Works now. dont know why it didnt work before. Thank you!

[2022-10-12 05:51] #114 closed

[2022-10-24 21:52] Bui-Christopher opened #122 "TLS Example"
Hello, I was wondering if it was possible to add an example of TLS config? Thank you!

[2022-10-25 21:22] Matansegal opened #123 "Paging"
I was wondering if there is any way of using paging as described here: https://docs.datastax.com/en/developer/java-driver/4.14/manual/core/paging/ ?
I am trying to have a select query, which returns many rows, combined to about 60Mb. the performance is slow (~0.8 sec). I think this is a paging issue.

[code]

[2022-10-26 04:51] krojew commented on #123
Paging is supported: https://docs.rs/cdrs-tokio/latest/cdrs_tokio/cluster/session/struct.Session.html#method.paged

[2022-10-26 14:54] Matansegal commented on #123
Thank you!

When I try to use it like here: https://github.com/krojew/cdrs-tokio/blob/bca96dd0929c11a5c0e6b628bbfd654728d33195/cdrs-tokio/examples/paged_query.rs#L155-L160 I get `{unknown}
no method named 'query_with_params' found for struct 'SessionPager' in the current scope`
it looks like it been added after the release of 7.0.1?

[2022-10-26 18:25] Matansegal commented on #123
Sorry I missed that the regular query function is `query_with_params` while the one for pager is `query_with_param` (without the s). Do you think it will be a good thought to make them the same?

I looked at the example here: https://github.com/krojew/cdrs-tokio/blob/d0a7e04fb1ab7df31ec774f27b5b86826b00e445/cdrs-tokio/examples/paged_query.rs#L160-L181
and I wonder if there is a way to iterate thro

[2022-10-26 18:31] krojew commented on #123
Of course - pager is 100% async. The problem with your loop is that you spawn a task for each `next` call. That''s not how async in Rust should be used - simply call `query_pager.next().await` in your loop.

[2022-10-26 18:32] Matansegal commented on #123
But then it will await for each iteration to be done. it is not concurrent in this way

[2022-10-26 18:34] krojew commented on #123
No - that's not how async works. Each await point switches to another task to proceed concurrently (at least in most runtimes). You can read more about async here: https://rust-lang.github.io/async-book/

[2022-10-26 18:56] Matansegal commented on #123
I have this code:
[code]
which doesn't seem to execute concurrently. the sum of the time in each iteration is the total of the whole loop.

[2022-10-26 18:58] krojew commented on #123
It executes concurrently with other tasks run by the async executor. What you seem to want is having a _parallel_ pager, which is not possible, since the pager needs to store current state.

[2022-10-27 14:08] Matansegal commented on #123
The performance is very similar to the the one without the pager. Isn't it should be different?

[2022-10-27 14:13] krojew commented on #123
That depends on the situation. If the performance is the same, that suggests it's not very dependent on the amount of data, but other factors. Pager will usually not give you better performance in itself - its main goal is to split the data when it gets large enough. You can use the pager in combination with async tasks to process rows concurrently as they come, instead of processing on single dat

[2022-10-27 14:26] Matansegal commented on #123
I see. Thank you so much it was very helpful!

[2022-11-07 13:34] LeBoucEtMistere opened #124 "Support for tracing informations"
Hello 👋
Is there any way to get tracing informations when making cassandra queries with this crate? I would have hope to get various spans showing the cassandra connections and query executions but I don't find any way to get it. Am I missing something or is this feature not available as of now ?

[2022-11-07 13:37] krojew commented on #124
Currently, there are only log events supported, not spans. Adding spans can have noticeable performance effect, so maybe they will be added as an optional feature.

[2022-11-08 21:12] MTRNord opened #125 "Range end index 88 out of range for slice of length 83"
Hi I got the above error in https://github.com/krojew/cdrs-tokio/blob/master/cassandra-protocol/src/token.rs#L32 when trying to run `session.exec_with_values`.

Full backtrace is:

[code]

[2022-11-08 21:15] MTRNord commented on #125
Cassandra is logging these 2 lines when it happens:

[code]

[2022-11-08 21:16] MTRNord commented on #125
Turns out the order of the statement matters when used with the derive macros. Matching them fixes it

[2022-11-08 21:16] #125 closed